<section class="container-fluid with-maxwidth chapter">

  <article class="article">
    <h2 class="article-title">Herramientas disponibles</h2>
    <div class="row">
      <div class="col-xl-4 col-lg-6" *ngFor="let tool of tools">
        <div class="mdl-card mdl-shadow--2dp mdl-card-full-width">
          <div class="mdl-card__title" style="background: url('https://s3.amazonaws.com/of-tools-icons/d2.png') center / cover; height: 176px; color: #fff;">
            <h2 class="mdl-card__title-text">{{tool.name}}</h2>
          </div>
          <div class="mdl-card__supporting-text">
            {{tool.descripcion}}
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <button mat-button class="md-primary">Get Started</button>
          </div>
          <div class="mdl-card__menu">
            <button mat-button class="mat-icon-button" aria-label="share">
              <mat-icon class="material-icons" style="color: #fff;">share</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
<!--
      </mat-card-content>
      <mat-card-actions>
        <span fxFlex></span>
        <button mat-button (click)="newTool()">
          <mat-icon>add</mat-icon>

          <span>New</span>
        </button>

      </mat-card-actions>
    </mat-card>
    <mat-card *ngFor="let tool of tools" class="panel-card">
      <mat-card-header>
        <mat-card-title><h4>{{tool.name}}</h4></mat-card-title>
        <mat-card-subtitle>{{tool.descripcion}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div fxLayout="column" fxLayoutAlign="center center" >
          <img src="https://s3.amazonaws.com/of-tools-icons/d2.png">
        </div>
      </mat-card-content>
      <mat-card-actions>
        <span fxFlex></span>
        <button mat-button (click)="selectTool(tool)">
          <mat-icon>info</mat-icon>
        </button>

      </mat-card-actions>
    </mat-card>
  </div>

  <mat-sidenav #detailSideNav mode="over" align="end" (close)="detailSideNavClosed()">

   <!-- <tool-detail #detailForm (toolsChange)="toolsChanged()"></tool-detail>-->

 <!-- </mat-sidenav>-->
  </article>
</section>
