<section class="container-fluid with-maxwidth chapter">

  <article class="article" *ngIf="activeWorkflow">
    <h3 class="article-title">New Workflow</h3>
    <div class="row">
      <div class="col-md-4">
        <div class="mdl-card mdl-shadow--2dp mdl-card-full-width">
          <div class="mdl-card__title" style="background: url('assets/images-demo/assets/600_400-2.jpg') center / cover; height: 176px; color: #fff;">
            <h2 class="mdl-card__title-text">{{activeWorkflow.name}}</h2>
          </div>
          <div class="mdl-card__supporting-text">
            <mat-list>
              <mat-list-item *ngFor="let step of activeWorkflow.steps">
                <img mat-list-avatar src="https://s3.amazonaws.com/of-tools-icons/d2.png" alt="avatar">
                <h3 mat-line> {{step.name}} </h3>
                <p mat-line>
                  <span> {{step.id}} </span>
                </p>
              </mat-list-item>
            </mat-list>
          </div>




          <div class="mdl-card__actions mdl-card--border">
            <button mat-button class="md-primary">Descartar</button>
          </div>
          <div class="mdl-card__menu">
            <button mat-button color="primary" class="mat-icon-button" aria-label="share" *ngIf="!activeWorkflow.complete"
                    (click)="closeWf()">
              <mat-icon class="material-icons">save</mat-icon>
            </button>
            <button mat-button color="primary" class="mat-icon-button" aria-label="addtool" *ngIf="!activeWorkflow.complete"
                    (click)="openDialogChooseTools()">
              <mat-icon class="material-icons" >add</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="col">
        <vis-canvas #visCanvas (clickEvent)="canvasClicked($event)"></vis-canvas>
      </div>
    </div>




  </article>
</section>
<!--

    <mat-card fxFlex="20" class="panel-card">
      <mat-card-header>
        <mat-card-title><h4>Nuevo workflow</h4></mat-card-title>
        <mat-card-subtitle>{{activeWorkflow.name}}</mat-card-subtitle>
        <button mat-mini-fab (click)="closeWf()" *ngIf="!activeWorkflow.complete">
          <mat-icon>save</mat-icon>
        </button>
      </mat-card-header>
      <mat-card-content *ngIf="!activeWorkflow.complete">
        <h4>Herramientas</h4>
        <mat-list>


          <mat-list-item *ngFor="let tool of tools">
            <mat-icon mat-list-icon>folder</mat-icon>
            <h4 mat-line>{{tool.name}}</h4>
            <p mat-line> {{tool.cwl}} </p>
            <button mat-mini-fab (click)="newStep(tool)">
              <mat-icon>add</mat-icon>
            </button>
          </mat-list-item>

        </mat-list>
      </mat-card-content>
    </mat-card>

-->


