<section class="container-fluid with-maxwidth chapter">

  <article class="article" *ngIf="activeWorkflow">
    <h3 class="article-title">New Workflow</h3>
    <div class="row">
      <div class="col-md-4">
        <div class="card card-white">
          <div class="card-image">
            <img src="assets/images-demo/assets/600_400-2.jpg">
            <span class="card-title">{{activeWorkflow.name}}</span>
          </div>
          <div class="card-content">
            <a class="card-button float-right" href="javascript:;">
              <button class="btn btn-icon btn-icon-round btn-floating btn-info" aria-label="share"
                      *ngIf="!activeWorkflow.complete"
                      (click)="closeWf()">
                <i class="material-icons mdi-sm">save</i>
              </button>
            </a>
            <a class="card-button float-right" href="javascript:;">
              <button class="btn btn-icon btn-icon-round btn-floating btn-info" aria-label="addtool"
                      *ngIf="!activeWorkflow.complete"
                      (click)="openDialogChooseTools()">
                <i class="material-icons mdi-sm">add</i>
              </button>
            </a>
            <mat-list dense *ngIf="activeWorkflow.steps.length>0">
              <mat-list-item *ngFor="let step of activeWorkflow.steps">
                {{step.name}} / {{step.id}}
              </mat-list-item>
            </mat-list>
          </div>
        </div>
      </div>
      <div class="col">
        <vis-canvas #visCanvas (clickEvent)="canvasClicked($event)"></vis-canvas>
      </div>
    </div>


  </article>
</section>
<!--

    <mat-card fxFlex="20" class="panel-card">
      <mat-card-header>
        <mat-card-title><h4>Nuevo workflow</h4></mat-card-title>
        <mat-card-subtitle>{{activeWorkflow.name}}</mat-card-subtitle>
        <button mat-mini-fab (click)="closeWf()" *ngIf="!activeWorkflow.complete">
          <mat-icon>save</mat-icon>
        </button>
      </mat-card-header>
      <mat-card-content *ngIf="!activeWorkflow.complete">
        <h4>Herramientas</h4>
        <mat-list>


          <mat-list-item *ngFor="let tool of tools">
            <mat-icon mat-list-icon>folder</mat-icon>
            <h4 mat-line>{{tool.name}}</h4>
            <p mat-line> {{tool.cwl}} </p>
            <button mat-mini-fab (click)="newStep(tool)">
              <mat-icon>add</mat-icon>
            </button>
          </mat-list-item>

        </mat-list>
      </mat-card-content>
    </mat-card>

-->


