<form  (ngSubmit)="onSubmit()">
  <mat-toolbar>
 <!--   <button mat-button type="button" (click)="toolDetail.form.reset(); deleteSucceded()">
      <mat-icon>close</mat-icon>
    </button>-->
    <button mat-button type="button" *ngIf="tool && tool.id" (click)="deleteTool()">
      <mat-icon>delete</mat-icon>
    </button>
    <a mat-button type="button" *ngIf="!isEditEnabled()" (click)="isEdit = !isEdit">
      <mat-icon>edit</mat-icon>
    </a>
    <button mat-button *ngIf="isEditEnabled()" type="submit" [disabled]="!toolDetail.form.valid">
      <mat-icon>save</mat-icon>
    </button>

  </mat-toolbar>
  <div  fxLayout="column"  class="form-container" *ngIf="tool">

    <mat-input-container *ngIf="isEditEnabled()">
      <input mat-input placeholder="Name" name="name" required >
    </mat-input-container>
    <label *ngIf="!isEditEnabled()">{{tool.name}}</label>


    <mat-input-container *ngIf="isEditEnabled()">
      <input mat-input placeholder="Description" name="description" required >
    </mat-input-container>
    <label *ngIf="!isEditEnabled()">{{tool.descripcion}}</label>

    <!--TODO: Si el texto del cwl desborda, debería aparecer scroll dentro del cuandro de texto y no scroll en el parent -->
    <div fxLayout="row" fxFlex="10">
    <mat-input-container *ngIf="isEditEnabled()" >
      <textarea  mat-input placeholder="Cwl code" name="cwl" required ></textarea>
    </mat-input-container>
    <pre fxFill *ngIf="!isEditEnabled()">{{tool.cwl}}</pre>
    </div>
  </div>
</form>
